@charset "UTF-8";
body {
background-color:#cccccc;
a {
  background-color:#cccccc;
  transition: background-color .5s;
}

a:hover {
  background-color: gold;
}
}
footer {
  text-align: center;
  padding-top: 1em;
  margin-bottom: 30px;
}
