 @charset "UTF-8";
 body {
background-color:#faf2e4;
 margin: 0 10%;
 font-family: sans-serif;
  }
h1{
    color: #d1633c;
   }
h2{
   color: #d1633c;
   }
      ol, ul { 
     list-style-type: none;
}
